/* ------------------------------------------------------------------
[Table of contents]
01. Font settings
02. General settings
03. Helpfull classes
04. Header style
05. Navigation overlay
06. Home Background Image style
07. About style 
08. Portfolio style
09. Team style
10. Testimonial style
11. Page Header style
12. Blog style
13. Single Post style
14. Social Share style
15. Comments style
16. Contact style
17. Button Style
18. Footer style
19. Media Query
[End Table of contents]
------------------------------------------------------------------- */


/*** 01. Fonts Settings (Asap & Arizonia) ***/

@import url('https://fonts.googleapis.com/css?family=Arizonia|Asap:300,400,500,600,700');

/*** 02. General settings ***/

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #fff;
    font-family: 'Asap', sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    color: #545454;
    font-weight: 300;
    position: relative;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Asap', sans-serif;
    color: #1B1B1B;
    line-height: 1.5em;
    margin: 0 0 15px;
    font-weight: 700;
}

h1 {
    font-size: 36px;
}

h1 span {
    color: #FF9800;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5,
h6 {
    font-size: 16px;
}

img {
    border: none;
    outline: none;
    max-width: 100%;
}

ul {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}

p,
li,
a,
span {}

p {
    font-size: 14px;
    margin-bottom: 0 0 15px;
    line-height: 1.5em;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a,
a:hover {
    color: #1B1B1B;
    text-decoration: none;
}

a:focus {
    outline: 0;
    text-decoration: none;
}

b,
strong {
    font-weight: 700;
    color: #FF9800;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #888 !important;
    font-weight: 300;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    /* Firefox 18- */
    color: #888 !important;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: #888 !important;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #888 !important;
}

button {
    border: none;
    background: none;
}
/*** 02. Preloader Style ***/
.loading_view{
     position:fixed;
     width:100%;
     height:100%;
     background:#172730;
     z-index:9999;
     display:flex;
     align-items: center;
     justify-content: center;
}
.loading_view .loading_box{
    display: block;
    width: 39px;
    height: 39px;
    border: 1px solid #fff;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    position:relative;
    animation:loading_rotate 2s 1s infinite forwards;
    overflow:hidden;
}
.loading_view .loading_box:before{
    content: 'B';
    font-size: 20px;
    color:#fff;
	font-weight: 600;
    animation:loading_text 2s 0s infinite forwards;
}
.loading_view .loading_box:after{
    content:' ';
    position: absolute;
    top:39px;
    left:0;
    width: 39px;
    height:39px;
    z-index:-1;
    animation:loading_bg 2s 0s infinite forwards;
}
.load_hide{

}
@keyframes loading_bg{
    0%{ top:39px; background:rgba(255,255,255,1); }
    50%{ top:0px; background:rgba(255,255,255,1); }
    100%{ top:0px; background:rgba(255,255,255,0);  }
}
@keyframes loading_rotate{
    0%{ transform:rotate(0deg);}
    50%{ transform:rotate(360deg);}
    100%{ transform:rotate(360deg); }
}
@keyframes loading_text{
    0%{ color:#fff;}
    50%{ color:#172730; }
    100%{ color:#fff; }
}

/*** 03. Helpfull classes ***/

.padding {
    padding: 40px 0;
}

.no-padding {
    padding: 0;
}

.padding-15 {
    padding: 15px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-45 {
    margin-bottom: 45px;
}

.text-white {
    color: #ffffff;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

img,
.form-control,
.form-control:hover,
button {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    color: #1B1B1B;
}


/*** 04. Header style ***/

.baz-header-section {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 100;
}

.baz-logo {
    padding: 20px 0;
    width: 120px;
    max-width: 120px;
}

.baz-logo h1 {
    /*font-family: 'Arizonia', cursive;*/
    /*font-weight: 400;*/
    font-size: 42px;
    margin: 0;
}

.baz-menu-active .baz-logo {
    visibility: hidden;
    opacity: 0;
}

.baz-hamburger-menu {
    position: fixed;
    top: 4%;
    right: 4%;
    cursor: pointer;
    z-index: 100;
    transition: opacity .25s ease;
    border: 2px solid #FF9800;
    padding: 24px;
    border-radius: 50%;
}

.baz-hamburger-menu:hover {
    opacity: .99;
}

.baz-hamburger-menu.active {}

.baz-hamburger-menu.active .top {
    -webkit-transform: translateY(5px) translateX(0) rotate(45deg);
    transform: translateY(5px) translateX(0) rotate(45deg);
    background: #ffffff;
}

.baz-hamburger-menu.active .middle {
    opacity: 0;
    background: #ffffff;
}

.baz-hamburger-menu.active .bottom {
    -webkit-transform: translateY(-7px) translateX(0) rotate(-45deg);
    transform: translateY(-7px) translateX(0) rotate(-45deg);
    background: #ffffff;
}

.baz-hamburger-menu span {
    background: #FF9800;
    border: none;
    height: 2px;
    position: absolute;
    top: 0;
    left: 15px;
    transition: all .35s ease;
    cursor: pointer;
    width: 18px;
}

.baz-hamburger-menu span:nth-of-type(1) {
    top: 18px;
}

.baz-hamburger-menu span:nth-of-type(2) {
    top: 24px;
}

.baz-hamburger-menu span:nth-of-type(3) {
    top: 30px;
}


/*** 05. Navigation overlay ***/

.baz-overlay {
    position: fixed;
    background: #000;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
}

.baz-overlay:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.baz-overlay.open {
    opacity: .9;
    visibility: visible;
    height: 100%;
    z-index: 99;
}

.baz-overlay.open li {
    -webkit-animation: fadeInTop .5s ease forwards;
    animation: fadeInTop .5s ease forwards;
    -webkit-animation-delay: .35s;
    animation-delay: .35s;
}

.baz-overlay.open li:nth-of-type(2) {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}

.baz-overlay.open li:nth-of-type(3) {
    -webkit-animation-delay: .45s;
    animation-delay: .45s;
}

.baz-overlay.open li:nth-of-type(4) {
    -webkit-animation-delay: .50s;
    animation-delay: .50s;
}

.baz-overlay.open li:nth-of-type(5) {
    -webkit-animation-delay: .55s;
    animation-delay: .55s;
}

.baz-overlay.open li:nth-of-type(6) {
    -webkit-animation-delay: .60s;
    animation-delay: .60s;
}

.baz-overlay nav {
    position: relative;
    height: 70%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 50px;
    font-family: 'Asap', sans-serif;
    font-weight: 300;
    /*    text-align: center;*/
}

.baz-overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: block;
    position: relative;
}

.baz-overlay ul li {
    display: block;
    position: relative;
    opacity: 0;
}

.baz-overlay ul li a {
    display: block;
    position: relative;
    color: #FFF;
    text-decoration: none;
    overflow: hidden;
    margin: 0 0 10px 0;
    font-size: 27px;
    font-weight: 600;
    line-height: 1.5em;
}

.baz-overlay ul li a:hover {
    width: 100%;
    color: #ff9800;
}

.baz-overlay ul li a:before {
    content: '';
    height: 100%;
    background: #ff9800;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
}

.baz-overlay ul li a:hover:before {
    transform: translateX(200%);
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

@-webkit-keyframes fadeInTop {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInTop {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/*** 06. Home Background Image style ***/

.baz-background-img-section {
    position: relative;
    background: #f6f6f6;
}

.baz-background-img-section .baz-profile-info .d-flex {
    height: 100vh;
}

.baz-profile-info {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: block;
    z-index: 10;
    background: rgba(240, 248, 255, 0.5);
}

.baz-profile-info h1 {
    font-size: 38px;
    font-weight: 700;
    white-space: nowrap;
    color: #313131;
    display: block;
    margin: 0;
    padding-top: 30px;
}

.baz-profile-info h1 b {
    color: #FF9800;
}

.baz-profile-info h1 span {
    display: block;
    font-size: 18px;
    line-height: 1.3em;
    font-weight: 300;
    color: #000000;
    letter-spacing: 5px;
}
.home-social-icon .baz-social-link li {
    margin: 0;
}
.home-social-icon .baz-social-link .social-btn .fa {
  font-size: 20px;
  vertical-align: middle;
}
.home-social-icon .baz-social-link .social-btn {
    background: transparent;
    margin-top: 10px;
}
.baz-profile-inner {
    padding: 20px;
    position: relative;
    z-index: 1;
    text-align: center;
}

.baz-background-wrap .background-img-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}


/*** 07. About style ***/

.baz-about-section {
    position: relative;
}

.baz-about-section-home {
    position: relative;
    background: #1b1b1b;
    padding: 80px 0;
}

.baz-about-content {}

.baz-about-content p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5em;
    color: #fff;
}

.baz-about-content span {
    font-family: 'Arizonia', cursive;
    color: #fff;
    font-size: 30px;
    line-height: 1.5em;
    font-weight: 400;
    margin: 0;
}




.baz-profile {
    background-image: url("../img/profile.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    width: 250px;
    height: 250px;
    left: calc(50% - 125px);
    top: -125px;
    z-index: 10;
}

.baz-about-inner-page {
    padding: 160px 0 80px;
}

.baz-about-inner {
    display: flex;
    align-items: center;
}

.baz-about-inner .baz-about-img {
    width: 100%;
}

.baz-about-inner img:hover,
.baz-about-img img:hover {
    transform: scale(0.95);
}



.baz-signature-dark {
    font-family: 'Arizonia', cursive;
    color: #1b1b1b;
    font-size: 30px;
    line-height: 1.5em;
    font-weight: 300;
}


/*** 08. Portfolio style *** */
.baz-homepage-portfolio-section {
   padding-top: 80px;   
}

.baz-portfolio-section {
}

.baz-portfolio-page-section { 
   padding-bottom: 80px;
}

.baz-portfolio-items .col-md-6:nth-child(2) {
    margin-top: 75px;
}

.baz-portfolio-filter {
    width: 100%;
    padding-bottom: 40px;
}

.baz-portfolio-filter li {
    margin-right: 40px;
    display: inline-block;
    font-size: 18px;
    line-height: 1.5em;
    cursor: pointer;
    font-weight: 600;
    color: #1b1b1b;
}

.baz-portfolio-filter li:last-child {
    margin-right: 0;
}

.baz-portfolio-filter li.active {
    color: #FF9800;
    content: "";
    left: 0;
    bottom: -4px;
    border-bottom: 2px solid;
    -webkit-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
    -o-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
    transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
}

.baz-portfolio-filter li:hover {
    color: #FF9800;
}

.baz-portfolio-wrap {
    padding-bottom: 80px;
    padding-right: 0;
    padding-left: 80px;
    position: relative;
}

.baz-portfolio-wrap:hover img {
    -ms-transform: scale(0.95, 0.95);
    /* IE 9 */
    -webkit-transform: scale(0.95, 0.95);
    /* Safari */
    transform: scale(0.95, 0.95);
}

.baz-portfolio-wrap h3 {
    font-size: 24px;
    line-height: 1.5em;
    color: #1b1b1b;
    font-weight: 700;
}

.baz-portfolio-wrap p {
    font-size: 14px;
    margin-bottom: 0px;
    line-height: 1.5em;
    font-weight: 300;
    color: #494949;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.baz-portfolio-content {
    position: absolute;
    left: 40px;
    top: 80px;
}

.baz-portfolio-link {
    color: #ff9800;
    font-size: 16px;
    font-weight: 300;
    position: relative;
    padding-right: 35px;
    line-height: 1.5em;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    padding-left: 90px;
}

.baz-portfolio-link:before {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    position: absolute;
    left: 12px;
    bottom: 19px;
    border-radius: 50%;
    border: 2px solid #FF9800;
    background: #FF9800;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    transition: all 0.3s ease-in-out;
}
.baz-portfolio-link:after {
    content: '';
    display: inline-block;
    width: 80px;
    height: 2px;
    background: #FF9800;
    position: absolute;
    left: 30px;
    bottom: 20px;
    transition: all 0.3s ease-in-out;
}
.baz-portfolio-link:before:hover {
    padding-left: 5px;
    color: #ff9800;
    transition: all 0.3s ease-in-out;
}

.baz-portfolio-link i {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}

.baz-portfolio-link:hover i {
    padding-left: 5px;
    color: #ff9800;
    transition: all 0.3s ease-in-out;
}

.baz-portfolio-link:hover {
    color: #ff9800;
}


/*** 09. Team style ***/

.baz-team-section {
    padding: 80px 0;
}

.baz-team-section-heading {
    padding-bottom: 40px;
}
.baz-team-section-heading h2 {
    font-size: 32px;
    margin: 0;
}
.baz-team-wrap {
    padding: 0 60px;
}
.baz-team-thumb img {
    width: 100%;
}
.baz-team-content {
    z-index: 0;
    position: relative;
    background: #FFF;
    box-shadow: 0 0 0 1px #E2E9ED;
    padding: 10px;
    box-sizing: border-box;
    transition: box-shadow 0.2s ease, z-index 0s 0.2s ease, -webkit-transform 0.2s ease;
    transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0.2s ease;
    transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0.2s ease, -webkit-transform 0.2s ease;
}
.baz-team-content:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.baz-team-content:hover {
  z-index: 1;
  box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  transition: box-shadow 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
}
.baz-team-content:hover .baz-team-social-link {
  margin: 10px 0 0;
  opacity: 1;
}
.baz-single-team {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
}

.baz-team-thumb {
    width: 98px;
    height: 98px;
    border-radius: 100%;
    margin: 0 auto 20px;
    overflow: hidden;
}
.baz-team-info h3 {
    font-size: 18px;
    margin: 0;
}
.baz-team-info span {
    color: #6F808A;
    font-size: 0.875rem;
    line-height: 2.375rem;
}
.baz-team-social-link li {
    display: inline-block;
    margin: 0 5px;
}
.baz-team-social-link {
    margin: 0 0 -18px;
    opacity: 0;
    transition: margin 0.2s ease, opacity 0.2s ease;
}
.baz-team-social-link li a {width: 30px;height: 30px;background: #f6f6f6;display: block;line-height: 30px;border-radius: 50%;}
.baz-team-social-link li a:hover {
    color: #FF9800;
    display: inline-block;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transition: all ease 0.5s;
}
/*** 10. Testimonial style ***/

.baz-testimonial-section {
    background-color: #1b1b1b;
}

.testimonial-items {
    padding: 80px 75px;
}

.testimonial-item {
    text-align: center;
}

.testimonial-item i {
    color: #ff9800;
    font-size: 48px;
    margin-bottom: 15px;
}

.testimonial-item figure {
    width: 90px;
    height: 90px;
    padding: 5px;
    margin: 0 auto 15px;
    position: relative;
}

.testimonial-item figure img {
    border-radius: 50px;
    width: 100%;
}

.testimonial-item h4 {
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 300;
    color: #ececec;
}

.testimonial-item p {
    color: #fff;
    font-style: italic;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5em;
}

.testimonial-items .owl-dots {
    display: block;
    text-align: center;
}

.testimonial-items .owl-dots .owl-dot {
    border: 1px solid #888;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 6px;
    transition: all 0.5s ease-in-out;
}

.testimonial-items .owl-dots .owl-dot.active {
    border: 1px solid #ff9800;
    background-color: #ff9800;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    transition: all 0.5s ease-in-out;
}


/*** 11. Page Header style ***/

.baz-page-section {
    padding: 160px 0 40px;
}

.baz-page-content h2 {
    font-size: 30px;
    margin: 0;
}

.baz-page-content p {
    margin: 0;
}


/*** 12. Blog style ***/

.baz-blog-section {
    padding-bottom: 80px;
}

.baz-blog-items {}

.baz-blog-post {
    padding-bottom: 40px;
}

.baz-blog-post img {
    width: 100%;
    margin-bottom: 15px;
}

.baz-blog-post img:hover {
    -ms-transform: scale(0.96, 0.96);
    /* IE 9 */
    -webkit-transform: scale(0.96, 0.96);
    /* Safari */
    transform: scale(0.96, 0.96);
}

.baz-blog-post .baz-blog-content h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5em;
}

.baz-blog-post .baz-blog-content a {
    color: #1B1B1B;
}

.baz-blog-post .baz-blog-content a:hover {
    color: #FF9800;
}

.baz-date-user {
    color: #888;
    display: block;
    margin: 5px 0;
}

.baz-date-user span {
    padding-right: 10px;
}

span.date {
    font-size: 12px;
    line-height: 1.5em;
	letter-spacing: 2px;
}

span.user {
    font-size: 12px;
    line-height: 1.5em;
	letter-spacing: 2px;
}

.baz-blog-post .baz-blog-content .baz-post-meta {
    color: #ff9800;
}

.baz-blog-post .baz-blog-content .baz-post-meta:hover {
    color: #1b1b1b;
}


/* Pagination */

.baz-pagination-wrap {
    padding-top: 40px;
}

.baz-pagination-wrap li {
    display: inline-block;
    margin: 0 5px;
}

.baz-pagination-wrap li a {
    background: #f6f6f6;
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #888;
    font-weight: 300;
    border-radius: 50%;
}

.baz-pagination-wrap li a:hover {
    opacity: 1;
    text-decoration: none;
    box-shadow: 0px 16px 28px 0px rgba(0, 0, 0, 0.20);
}

.baz-pagination-wrap li a.active {
    background-color: #ff9800;
    border: 1px solid #ff9800;
    color: #fff;
}


/* Blog List */

.baz-list-items .baz-blog-post {
    border: 1px solid #eee;
    margin: 0;
    margin-bottom: 15px;
}

.baz-list-items .baz-blog-post img {
    margin-bottom: 0;
}

.baz-list-items .baz-blog-post .col-md-6:first-child {
    padding-left: 0;
}

.baz-list-items .baz-blog-post .baz-blog-content {
    padding: 34px 0;
}


/*** 13. Single Post style ***/

.baz-single-post {
}

.baz-single-post img {
    width: 100%;
    height: 100%;
}

.baz-single-post .entry-thumb {
    padding-bottom: 40px;
}

.baz-single-post h2 {
    font-weight: 600;
    margin: 0 0 5px;
}

.baz-meta-info {
}

.baz-meta-info span {
	font-family: "Asap", sans-serif;
    font-weight: 300;
    color: #888;
    font-size: 11px;
    margin-right: 15px;
    letter-spacing: 2px;
}

.baz-meta-info a {
    font-weight: 300;
    color: #888;
}

.baz-meta-info i {
    color: #888;
}
.about_details span {
    color: #888;
    font-weight: 500;
    text-transform: capitalize;
    display: inline-block;
    width: 30%;
}
.about_details ul li span>i {
	border: 1px solid #111;
	border-radius: 50%;
	color: #111;
	height: 30px;
	line-height: 30px;
	margin-right: 5px;
	text-align: center;
	width: 30px;
}
.ct_about{
	margin: 10px 0;
}
.ct_about span i{
	margin-right: 5px;
}

/*** 14. Social Share style ***/

.baz-share-wrap {
    padding-top: 20px;
}

.baz-share-wrap h4 {
    font-weight: 600;
    font-size: 18px;
}

.baz-share-icon {
    display: inline-block;
}

.baz-share-icon li {
    display: inline-block;
    margin-right: 10px;
}

.baz-share-icon i {}

.baz-share-icon li:nth-child(1) a {
    background-color: #3B5998;
}

.baz-share-icon li:nth-child(2) a {
    background-color: #1DCAFF;
}

.baz-share-icon li:nth-child(3) a {
    background-color: #DB4A39;
}

.baz-share-icon li:nth-child(4) a {
    background-color: #e4405f;
}

.baz-share-icon li:nth-child(5) a {
    background-color: #0077B5;
}

.baz-share-icon li a {
    display: inline-block;
    font-size: 13px;
    color: #fff;
    padding: 6px 10px;
    border-radius: 50%;
    font-weight: 600;
}

.baz-share-icon li a:hover {
    box-shadow: 0px 16px 28px 0px rgba(0, 0, 0, 0.20);
}


/*** 15. Comments style ***/

.baz-comment-section {
    padding-bottom: 80px;
}

.baz-comments-wrapper h4 {
    font-size: 18px;
    font-weight: 600;
}

.baz-comments-list {
    margin-top: 30px;
    position: relative;
    margin-bottom: 0px;
}

.baz-comments-list .baz-comment-avatar {
    width: 100px;
    height: 100px;
    position: relative;
    z-index: 98;
    float: left;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 20px;
    margin-bottom: 40px;
}

.baz-comments-list .baz-comment-avatar img {
    width: 100%;
    height: 100%;
    z-index: -1;
}

.baz-comment-main-level:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    clear: both;
}

.baz-comments-list .baz-comment-box {
    position: relative;
    padding-left: 120px;
}

.baz-comment-box .baz-comment-head {
    padding: 10px 12px 0 12px;
    overflow: hidden;
}

.baz-comment-box .baz-comment-head i {
    float: right;
    margin-right: 20px;
    position: relative;
    top: 2px;
    color: #ff9800;
    cursor: pointer;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.baz-comment-box .baz-comment-head i:hover {
    color: #1b1b1b;
}

.baz-comment-box .baz-comment-name {
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 600;
    float: left;
    margin-right: 10px;
}

.baz-comment-box .baz-comment-name a {
    color: #1B1B1B;
}

.baz-comment-box .baz-comment-head span {
    float: left;
    font-size: 13px;
    position: relative;
    top: 1px;
}

.baz-comment-box .baz-comment-content {
    padding: 0 12px 12px 12px;
}

.baz-comment-box .baz-comment-name.by-author:after {
    content: 'editor';
    background: #ff9800;
    color: #FFF;
    font-size: 12px;
    padding: 3px 5px;
    font-weight: 300;
    margin-left: 10px;
}

.baz-comment-form h4 {
    font-size: 18px;
    font-weight: 600;
}

.baz-comment-form .form-control {
    font-size: 14px;
    border-radius: 0;
    height: 45px;
    background-color: transparent;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #ececec;
    outline: none;
}

.baz-comment-form .form-control.message {
    height: 150px;
}

#form-messages {
    display: none;
}

#form-messages.alert-danger,
#form-messages.alert-success {
    display: block;
}


/*** 16. Contact style ***/

#baz-contactMap {
    width: 100%;
    height: 450px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.baz-contact-section {
    position: relative;
    z-index: 1;
    padding-top: 1px;
    padding-bottom: 60px;
}

.baz-contact-wrap {
    background-color: #fff;
    padding: 40px 40px 0 40px;
    margin-top: 360px;
}

.baz-contact-section h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5em;
    color: #1b1b1b;
}

.baz-contact-info ul li {
    line-height: 40px;
    display: flex;
    align-items: center;
}

.baz-contact-info ul li i {
    margin-right: 10px;
    color: #ff9800;
    font-size: 20px;
}

.baz-contact-info ul li {
    font-size: 14px;
}


/*Contact Form*/

.baz-contact-form .form-control {
    border-radius: 0;
    height: 45px;
    font-size: 14px;
    background-color: transparent;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #d4d4d4;
    outline: none;
}

.baz-contact-form:focus,
.form-control:focus {
    border-bottom-width: 2px;
    border-color: #1b1b1b;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.baz-contact-form .form-control.message {
    height: 120px;
}

#form-messages {
    display: none;
}

#form-messages.alert-danger,
#form-messages.alert-success {
    display: block;
}


/* Buttons */

.baz-btn {
    padding: 10px 30px;
    color: #000;
    font-size: 15px;
    background: white;
    font-weight: 600;
    position: relative;
    margin-top: 10px;
    z-index: 1;
    display: inline-block;
    border-radius: 5px;
    text-align: right;
}

.baz-btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
    background-color: #FF9800;
    -webkit-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
    -o-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
    transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
}

.baz-btn:hover,
.baz-btn:focus {
    border-color: #ff9800;
    color: #fff !important;
}

.baz-btn:hover:after,
.baz-btn:focus:after {
    width: 100%;
}

.baz-btn2 {
	padding: 10px 30px;
    border: 2px solid #FF9800 !important;
    color: #1b1b1b;
    font-weight: 600;
    position: relative;
    z-index: 1;
    outline: none;
    cursor: pointer;
}

.baz-btn2:after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ff9800;
    -webkit-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
    -o-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
    transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
}

.baz-btn2:hover,
.baz-btn2:focus {
    border-color: #ff9800;
    color: #fff !important;
}

.baz-btn2:hover:after,
.baz-btn2:focus:after {
    width: 100%;
}


.baz-social-link .social-btn,
.baz-social-link .social-btn:before,
.baz-social-link .social-btn .fa {
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.baz-social-link .social-btn:before {
  top: 90%;
  left: -110%;
}
.baz-social-link .social-btn .fa {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
.baz-social-link .social-btn.facebook:before {
  background-color: #3b5998;
}
.baz-social-link .social-btn.facebook .fa {
  color: #3b5998;
}
.baz-social-link .social-btn.twitter:before {
  background-color: #3cf;
}
.baz-social-link .social-btn.twitter .fa {
  color: #3cf;
}
.baz-social-link .social-btn.google:before {
  background-color: #dc4a38;
}
.baz-social-link .social-btn.google .fa {
  color: #dc4a38;
}
.baz-social-link .social-btn.dribbble:before {
  background-color: #f26798;
}
.baz-social-link .social-btn.dribbble .fa {
  color: #f26798;
}
.baz-social-link .social-btn.skype:before {
  background-color: #00aff0;
}
.baz-social-link .social-btn.skype .fa {
  color: #00aff0;
}
.baz-social-link .social-btn:focus:before,
.baz-social-link .social-btn:hover:before {
  top: -10%;
  left: -10%;
}
.baz-social-link .social-btn:focus .fa,
.baz-social-link .social-btn:hover .fa {
  color: #fff;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.baz-social-link .social-btn {
  display: inline-block;
  background-color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 30%;
}
.baz-social-link .social-btn:before {
  content: '';
  width: 120%;
  height: 120%;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.baz-social-link .social-btn .fa {
  font-size: 23px;
  vertical-align: middle;
}

/*** 17. Footer style ***/

.baz-footer-section {
    background: #1b1b1b;
    padding: 80px 0;
}
.top-footer-padding-bottom {
    padding-bottom: 15px;
}
.baz-footer-section .brand {
    font-family: 'Arizonia', cursive;
    font-size: 42px;
    line-height: 1.5em;
    font-weight: 400;
    color: #fff;
}

.baz-footer-section .brand span {
    color: #1B1B1B;
}
.footer-brand-name {
    text-align: center;
}

.footer-contact-btn {
    text-align: right;
}
.baz-social-link {
    display: inline-block;
}

.baz-social-link li {
    display: inline-block;
    margin-right: 5px;
	margin-top: 12px;
}


.baz-social-link li i {
    color: #fff;
}

.baz-footer-section p {
    font-size: 14px;
    line-height: 1.5em;
    font-weight: 300;
    color: #fff;
    padding-top: 25px;
    margin: 0;
    border-top: 1px solid #464646;
    text-align: center;
}


/*** 18. Media Query ***/

@media (max-width: 1024px) {
    .baz-hamburger-menu {
        top: 3%;
    }
    .baz-portfolio-wrap {
        padding-left: 20px;
    }
    .baz-portfolio-wrap h3 {
        font-size: 22px;
    }
    .baz-portfolio-content {
        top: 40px;
    }
    .baz-background-img-section .baz-profile-info .d-flex,
    .baz-background-wrap .background-img-item {
        height: 500px;
    }
    .promo-content h3 {
        font-size: 18px;
    }
    .baz-page-content h2 {
        font-size: 24px;
    }
    .baz-page-content p {
        margin: 0;
    }
    .baz-comments-list .baz-comment-box {
        width: 715px;
    }
    .reply-list .baz-comment-box {
        width: 645px;
    }
}

@media (max-width: 992px) {
    .sm-padding {
        padding: 15px;
    }
    .feature_list,
    .about_content {
        padding: 0;
    }
    .hero_mockup {
        background-position: 120% center;
    }
    ul.nav > li > a {
        padding: 0 5px;
        font-size: 10px;
    }
    .hero-moc {
        display: none;
    }
    .promo-content {
        padding: 0;
    }
    .baz-comments-list .baz-comment-box {
        width: 640px;
    }
    .reply-list .baz-comment-box {
        width: 570px;
    }
    .baz-contact-wrap {
        padding: 30px 0 0 0;
    }
}

@media all and (max-width: 767px) {
    h2 {
        font-size: 24px;
    }
    h2 br,
    .mock-hide,
    p br {
        display: none;
    }
    .padding {
        padding: 60px 0;
    }
    .baz-page-section.padding {
        padding: 120px 0 20px;
    }
    .baz-about-page-section.padding {
        padding: 40px 0 40px;
    }
    .xs-padding {
        padding: 15px;
    }
    .owl-controls {
        display: none;
    }
    .baz-profile-info h2 {
        font-size: 24px;
        line-height: 1.1em;
        padding-top: 40px;
    }
    .baz-profile-info h2 span {
        font-size: 16px;
    }
    .baz-profile {
        width: 200px;
        height: 200px;
        position: inherit;
        margin: 60px auto 0;
    }
    
    .baz-about-content h2 {
        font-size: 16px;
        margin: 20px 0;
    }
    .baz-portfolio-items .col-md-6:nth-child(2) {
        margin-top: 0;
    }
    .baz-about-section {
        padding: 120px 0 65px 0;
    }
    .baz-about-inner .baz-about-img {
       padding-bottom: 40px;
    }
    .baz-team-content .baz-team-thumb {
        margin-bottom: 20px;
    }
    .baz-comments-list .baz-comment-box {
        width: 100%;
    }
    .baz-blog-items {
        padding: 0 0px;
    }
    .baz-comments-list .baz-comment-box:before,
    .baz-comments-list .baz-comment-box:after,
    .reply-list li:before,
    .baz-comments-list:before {
        display: none;
    }
    .reply-list {
        padding-left: 40px;
    }
    .baz-comments-list .baz-comment-avatar {
        margin-bottom: 5px;
    }
    .baz-comment-form .form-group .col-sm-4:not(:last-of-type) {
        margin-bottom: 15px;
    }
    .baz-contact-wrap .form-group .col-sm-6:not(:last-of-type) {
        margin-bottom: 15px;
    }
    .baz-share-icon li {
        margin-right: 7px;
    }
    
    .baz-footer-section .brand {
    margin-top: 20px;
}
    
    .baz-btn {
    margin-top: 20px;
    }
    
    .baz-page-section {
    padding: 120px 0 40px;
    }
}

@media all and (max-width: 575px) {
	.baz-profile-info h1 span {
		letter-spacing: 0;
	}
    .promo-content {
        text-align: center;
    }
    .baz-portfolio-filter li {
        margin-right: 10px;
        font-size: 16px;
    }
    .baz-portfolio-filter li:last-child {
        margin-right: 0;
    }
    .subscribe-form {
        width: 100%;
    }
    .download-content h2 {
        font-size: 20px;
    }
    .download-btn a:first-child {
        margin-bottom: 10px;
    }
    .baz-social-link li {
        margin: 2px;
    }
    .coment-form .form-group .col-sm-4 {
        margin-bottom: 15px;
        margin-top: auto;
    }
    .coment-form .form-group .col-sm-4:last-child {
        margin: 0;
    }
    .baz-share-icon li {
        margin-right: 5px;
        margin-bottom: 5px;
    }
    .baz-portfolio-items .single-item {
        padding-bottom: 30px;
    }
    .baz-portfolio-wrap {
        padding: 0;
    }
	.testimonial-items {
		padding: 80px 0px;
	}
	.baz-team-wrap {
		padding: 0 15px;
	}
    
}

